<div id="<%= dom_id estoque %>">
        <td id="nome"><%= cliente.nome %></td>
        <td id="desc"><%= cliente.desc %></td>
        <td id="cpnj"><%= cliente.cnpj %></td>
        <td id="endereco"><%= cliente.endereco %></td>
        <td id="cep"><%= cliente.cep %></td>
</div>
