<p style="color: green"><%= notice %></p>

<h1>Estoques</h1>

<div class="table-responsive">
  <%= form_tag search_estoque_path, method: :get do %>
  <div class="input-group">
    <%= search_field_tag :search, params[:search], placeholder: "Nome", class: 'form-control' %>
    <div class="input-group-btn">
      <%= button_tag 'Pesquisar', class: 'btn btn-primary', :nome => nil %>
    </div>
  </div>
  <% end %>
  <table class="text-center table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Produto</th>
      <th>Fornecedor</th>
      <th>Descrição</th>
      <th>Lote</th>
      <th>Comprado em</th>
      <th>Validade</th>
      <th>Quantidade</th>
      <th>Valor</th>
      <th>Status</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
  <% @estoques.each do |estoque| %>
      <tbody>
      <tr>
        <%= render estoque %>

        <td>
          <%= button_to "Editar", edit_produto_path(estoque), class: 'btn btn-outline-info', method: :get%>
        </td>
        <td><%= button_to "Mostrar", estoque, class: 'btn btn-outline-info', method: :get %></td>
      </tr>
      </tbody>
  <% end %>
  </table>
</div>

<%= button_to "Novo estoque", new_estoque_path, class: 'btn btn-outline-success', method: :get %>
