<div id="<%= dom_id fornecedor %>">

  <td><%= fornecedor.nome %></td>

  <td><%= fornecedor.cnpj %></td>

  <td><%= fornecedor.endereco %></td>

  <td><%= fornecedor.tel %></td>

  <td><%= fornecedor.obs %></td>

</div>
